:root {
    --homepage: #2476de;
    --nomal-text: #e3e3e3;
    --add-task: rgb(168, 199, 250);
    --background: #1b1b1b;
    --background-board: #131314;
    --list-background: rgba(0, 0, 0, 0.87);
    --horizontal-rule: #444746;
    --light-create: rgb(55, 57, 59);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--nomal-text);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.left-side {
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 65px;
    height: 25px;
    cursor: pointer;
}

.return-homepage {
    display: flex;
    align-items: center;
    color: var(--nomal-text);
    text-decoration: none;
    font-size: 10px;
    gap: 5px;
}

.logo-homepage {
    width: 35px;
}

.right-side {
    display: flex;
    align-items: center;
}

.support-icon {
    width: 65px;
    height: 30px;
}

.account-icon {
    width: 40px;
    height: 40px;
}

main {
    display: flex;
    column-gap: 100px;
}

.left-bar {
    padding-left: 20px;
    margin-right: 160px;
}

.create-box {
    background-color: var(--light-create);
    border-radius: 20px;
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px 0 20px 0;
    gap: 5px;
}

.create-box:hover {
    cursor: pointer;
}

.add-icon {
    width: 30px;
    height: 30px;
}

.category-list .list {
    list-style-type: none;
}

.all-task,
.have-star {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.list-group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.category-list {
    margin-bottom: 20px;
}

.category-list > * {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.create-new-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.list-container {
    background-color: var(--background-board);
    width: 685px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

.list-head {
    display: flex;
}

.horizontal-rule-icon {
    width: 50px;
    align-self: center;
    margin-top: -15px;
}

.list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: -15px;
}

.list-add-task {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-body {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-foot {
    display: flex;
    align-items: center;
}

.list-add-task {
    color: var(--add-task);
}
