:root {
    --homepage: #2476de;
    --nomal-text: rgb(227, 227, 227);
    --add-task: rgb(168, 199, 250);
    --background: #1b1b1b;
    --list-background: rgba(0, 0, 0, 0.87);
    --horizontal-rule: #444746;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--nomal-text);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.left-side {
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 65px;
    height: 25px;
}

.return-homepage {
    display: flex;
    align-items: center;
    color: var(--nomal-text);
    text-decoration: none;
    font-size: 10px;
    gap: 5px;
}

.logo-homepage {
    width: 35px;
}

.right-side {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    column-gap: 100px;
}

.list-head {
    display: flex;
}

.horizontal-rule-icon {
    width: 50px;
}

.list-add-to-do {
    color: var(--add-task);
}
